<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Шаурма</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Регистрация</h1>

<img width="25%" th:src="@{/images/shawarma.png}"/>



<form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">

    <label for="username">Логин:</label>
    <input type="text" th:field="*{username}"/><br>
    <div th:if="${#fields.hasErrors('username')}" style="color: red;">
        <p th:errors="*{username}">Поле логин обязательно</p>
    </div>
    <div th:if="${userExists}" style="color: red;">
        Пользователь с таким логином уже существует. Пожалуйста, выберите другой логин.
    </div>


    <label for="password">Пароль:</label>
    <input type="password" th:field="*{password}"/><br>
    <div th:if="${#fields.hasErrors('password')}" style="color: red;">
        <p th:errors="*{password}">Поле пароль обязательно</p>
    </div>
    <div th:if="${wrongPassword}" style="color: red;">
        Пароли не совпадают
    </div>

    <label for="confirm">Повтор пароля:</label>
    <input type="password" th:field="*{confirm}"/><br>
    <div th:if="${#fields.hasErrors('confirm')}" style="color: red;">
        <p th:errors="*{confirm}">Поле пароль обязательно</p>
    </div>

    <label for="fullname">ФИО:</label>
    <input type="text" th:field="*{fullname}"/><br>

    <label for="street">Адрес:</label>
    <input type="text" th:field="*{street}"/><br>

    <label for="phone">Телефон:</label>
    <input type="text" th:field="*{phone}"/><br>

    <input type="submit" value="Register"/>

</form>


</body>
</html>