<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Шаурма</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>
        Салам Алейкум, брат! <br>
        <a th:href="@{/design}">Собери шаурму, брат!!</a>
    </h1>
    <img width="25%" th:src="@{/images/shawarma.png}"/>

</body>
</html>